# Data & Video Files
*.mp4
*.png
*.csv
IronsiteHackathonData/
outputs/
exertion_data.csv
master_dashboard.csv

# AI Models
*.pt
*.task

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# OS Files
.DS_Store
Thumbs.db
.env
